*{
	box-sizing:border-box;
}
body{
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
	margin:0;
}
.wrapper{
	width:1120px;
	margin:0 auto;
	}
#topTags{
	width:960px;
	height:60px;
	margin-top:0px;
	margin-left:80px;
}
#nameTag{
	width:200px;
	height:60px;
	background-color: #4aaaa5;
	margin-left:80px;
	color:white;
	text-align: center;
	float:left;
	border-radius: 10px;
}
h2 {
	margin-top:15px;
}
#labelTag{
	width:220px;
	height:60px;
	padding-top:15px;
	padding-bottom:25px;
	background-color: #ffffff;
	float:right;
	margin-right: 50px;
	display:inline-flex;
}
.labels {
	padding-top: 0px;
	padding-left: 5px;
	padding-right:5px;
	float:left;
	text-decoration: none;
	color:#777777;
}
.portfolio {
	padding-top: 0px;
	padding-left: 5px;
	padding-right:5px;
	float:left;
	text-decoration: none;
	color:#777777;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
}

#content{
	width:960px;
	margin-left: 80px;
	padding-top:20px;
	overflow:auto;
	background-image: url("../../images/cheap_diagonal_fabric.png");

}
#contact{
	width: 570px;
	margin-left:80px;
	padding-left: 15px;
	padding-right:15px;
	padding-bottom:40px;
	background-color: #ffffff;
	float:left;
	overflow:auto;
	margin-bottom:40px;
	margin-top:30px;
}

#connect{
	width:180px;
	height:120px;
	float:right;
	background-color: #ffffff;
	margin-right:80px;
	margin-top:30px;
	text-align: center;
	padding-top:20px;
}
footer{
	clear:both;
	width:1040px;
	height:80px;
	padding-top:30px;
	background-color: #666666;
	color:white;
	text-align: center;
	border-top:10px solid #4aaaa5;
}
/*classes and ids for fonts and coloring*/

.heading{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
}
.myName{
	color:white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align:center;
}
#iconsDiv{
	display:inline-block
}
.icons{
	height:40px;
	width:40px;
	margin:5px;
}
input{
	width:300px;
	margin-left: 60px;
}
legend{
	margin-left: 50px;
	margin-bottom:20px;
}
#message{
	width:300px;
	height:100px;
	margin-left:60px;
}
#button{
	background-color: #4aaaa5;
	margin-left:10%;
	width:100px;
	color:white;
	height: 30px;
}
/*styles added after reset*/
h2{
	font-size:1.5em;
	font-weight: bold;
}
h3{
	font-size:1.2em;
	font-weight: bold;
}
@media screen and (max-width: 980px){

	.wrapper{
		width:100%;
	}

	#topTags, #content, #pageFooter {
		width:90%;
		margin-left: 10%;
	}
	#contact {
		width:50%;
		margin-left: 10%;
	}

	#connect{
		width:25%;
		float:right;
		margin-left:0%;
		margin-right: 5%;
		margin-bottom: 20px;
	}
	#pageFooter{
		clear:both;
	}
	input, #message{
		width:70%;
	}
} 
@media screen and (max-width: 768px){

	.wrapper{
		width:100%;
		margin:0 auto;
	}
	#topTags, #content {
		width:80%;
	}
	#nameTag, #labelTag{
		width:100%;
		margin-left: 0%;
	}
	.labels, .portfolio{
		width:33%;
		margin-left:10%;
	}

	#contact, #connect{
		width:70%;
		float:left;
		margin-left:80px;
		margin-bottom: 20px;
	}
	#pageFooter{
		clear:both;
		width:100%;
	}
} 
@media screen and (max-width: 640px){

	#topTags{
		position: static;
	}
	#topTags, #content, #contact {
		width:70%;
		margin-left: 20%
	}
	#contact{
		clear:both;
	}
	#connect{
		width:70%;
		float:left;
		margin-left:20%;
		margin-bottom: 20px;
	}

	#pageFooter{
		width:100%;
		clear:both;
	}
	#nameTag, #labelTag{
		width:100%;
		margin-left: 0%;
	}
	.labels, .portfolio{
		width:33%;
		margin-left: 10%
	}
}
